<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutChangesToGlobalState="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         controlGarbageCollector="false"
         displayDetailsOnIncompleteTests="false"
         displayDetailsOnSkippedTests="false"
         displayDetailsOnTestsThatTriggerDeprecations="false"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Go">
            <directory>tests/Go</directory>
            <exclude>tests/Go</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>go-parser</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
